
.nav-tabs .nav-item .nav-link.active:after, .nav-tabs .nav-item .nav-link.active:hover:after, .nav-tabs .nav-item .nav-link.active:focus:after {
    border-bottom: 11px solid hsl(0, 0%, 100%);
    border-left: 11px solid rgba(194, 194, 194, 0);
    border-right: 11px solid rgba(194, 194, 194, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 40%;
    bottom: 5px;
    
}
.navbar.navbar-transparent {
  background-color: rgb(224, 221, 221) !important;
  /* box-shadow: 0px 2px 10px; */
  border-bottom: 1px solid #ddd;
  position: sticky;
  
}
.main-panel>.content {
    margin-top: 30px ;
}
.sidebar:after {
  background: #FF5733;
}
.jumbotron {
  position: relative;
  background: #000 url("<?=base_url()?>/assets/img/bg/<?=$jumbotron?>") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  
}
.container{
  position: relative;
  z-index: 3;
}



.jumbotron::after{
  content : '';
  display : block;
  width: 100%;
  height: 100%;
  background-image : linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  z-index : 0;
}

.bayangan {text-shadow:6px 2px 5px #212121;}

.bold { font-weight: bold; }
.bolder { font-weight: bolder; }
.lighter { font-weight: lighter; }
.bold100 { font-weight: 100; }
.bold200 { font-weight: 200; }
.bold300 { font-weight: 300; }
.bold400 { font-weight: 400; }
.bold500 { font-weight: 500; }
.bold600 { font-weight: 600; }
.bold700 { font-weight: 700; }
.bold800 { font-weight: 800; }
.bold900 { font-weight: 900; }